html.default-bg-color {
  background: {
    color: $bg-color;
    image: $bg-image;
  }
}

.App {
  @extend .default-width;
  @extend .default-margin;
  @extend .direction-column;

  & > * { margin: $default-app-inner-margin; }

  & a { color: $a-default-color; }

  & picture,
  & img {
    max-width: 100%;
    height: auto;
  }

  &-title {
    font: {
      weight: bold;
      size: 6vw;
    }

    @media screen and (min-width: 64em) { font-size: 3vw; }
  }

  &-logo { width: 480px; }

  &-logos {
    @extend .container-unitary-direction-centered;
    align-content: space-between;

    & img {
      padding: 1rem;
      width: 320px;
    }
  }

  &-video { width: 100%; }
}

.download {
  font: {
    weight: bold;
    size: 4vw;
  }

  @media screen and (min-width: 64em) { font-size: 2rem; }
}
